SONOS_CLIENT_ID=ae97b2cd-64bf-472c-9d0f-0ecac953b1dd
SONOS_CLIENT_SECRET=your_sonos_client_secret
SONOS_STATE_SECRET=replace_with_a_long_random_secret
SONOS_REDIRECT_URI=https://sonos-voice.netlify.app/sonos/oauth/callback
SONOS_IOS_CALLBACK_URL=sonosvoiceremote://oauth/callback
